<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">6:00 pm</span>
    Before each meeting a group of GTALUGers dine at a
    different restaurant every month, this month we are going to
    <a href="http://www.kaijutoronto.com/">Kaiju</a>
    (384 Yonge St, Unit 51 downstairs in the food court).
  </li>
	<li class="list-group-item">
		<span class="badge">7:30 pm</span>
		Meeting and presentation.
	</li>
	
	<li class="list-group-item">
		<span class="badge">9:00 pm</span>
		After each meeting a group of GTALUGers move to the The Library/
		<a href="http://www.imperialpub.com/mainpage.html">The Imperial Pub</a>
		(54 Dundas St East) for beer and more socializing.
	</li>
</ul>
