@import "bootstrap/bootstrap.less";

aside {
	.make-md-column(2);
	.make-md-column-offset(1);
	
	text-align: right;
	
	.logo {
		img {
		}
	}
	
	ul {
		.nav;
		.nav-pills;
		.nav-stacked;
	}
	
	
}

main {
	.make-md-column(8);
	.make-md-column-offset(4);
	padding-left: 0;
	
	border-left: @gray-light 1px solid;
	
	article, footer {
		margin-left: 20px;
	}
	
	nav {
		padding: 40px;
		
		ul {
			.nav;
			.nav-pills;
			.nav-justified;
		}
		
		border-bottom: @gray-light 1px solid;
	}
	
	.page {
		
	}
	
	article {
		header {
		}
		
		footer {
			.location {
			}
		}
	}
}

@media (min-width: @screen-sm-max) {
	aside {
		position: fixed;
	}
}

@media (max-width: @screen-sm-max) {
	aside {
		text-align: center;
		border-bottom: @gray-light 1px solid;
		
		.logo {
			img {
				.center-block();
			}
		}
		
		ul {
			display: none;
		}
	}
	
	main {
		border-left: none;
	}
}