<div itemprop="location" itemscope itemtype="http://schema.org/Place">
	<p itemprop="name">
		<strong>George Vari Engineering and Computing Centre</strong>
		at Ryerson University<br/>
	</p>
	<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">245 Church Street</span>, Room 203 (second floor).
	</p>
</div>

<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-79.38188016414642%2C43.65562001423254%2C-79.37292158603667%2C43.65957867464274&amp;layer=mapnik&amp;marker=43.65759937706079%2C-79.37740087509155" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=43.65760&amp;mlon=-79.37740#map=18/43.65760/-79.37740">View Larger Map</a></small>
