<div itemprop="location" itemscope itemtype="http://schema.org/Place">
	<p itemprop="name">
		<strong>George Vari Engineering and Computing Centre</strong>
		at Ryerson University<br/>
	</p>
	<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">245 Church Street</span>, Room 203 (second floor).
	</p>
</div>


<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-79.38581228256226%2C43.65258098314302%2C-79.36894655227661%2C43.6626561587339&amp;layer=mapquest&amp;marker=43.65761102017851%2C-79.37737941741943" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=43.6576&amp;mlon=-79.3774#map=16/43.6576/-79.3774&amp;layers=Q">View Larger Map</a></small>
