<p itemprop="location" itemscope itemtype="http://schema.org/Place">
	<span itemprop="name">
		<strong>George Cari Engineering and Computing Centre</strong>
		at Ryerson University<br/>
	</span>
	<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">245 Church Street</span>, Room 211
	</span>
	<!-- <a href="http://goo.gl/maps/16oJ2">Google Maps</a> <a href="http://osm.org/go/ZX6Bt554I-?m=&way=23447525">OpenStreetMap.org</a> -->
</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5773.095032881689!2d-79.37723534999995!3d43.65758164999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb359cb31a15%3A0x68b90c14e2beec47!2sGeorge+Vari+Engineering+and+Computing+Center%2C+245+Church+St%2C+Toronto%2C+ON+M5B+2K3!5e0!3m2!1sen!2sca!4v1390846250368" width="100%" height="300" frameborder="0" style="border:0"></iframe>