<p>We want a productive happy community that can welcome new ideas, improve every process every year, and foster collaboration between individuals with differing needs, interests and skills.</p>

<p>We gain strength from diversity, and actively seek participation from those who enhance it. This code of conduct exists to ensure that diverse groups collaborate to mutual advantage and enjoyment. We will challenge prejudice that could jeopardize the participation of any person in the community.

<p>The Code of Conduct governs <em>how we behave in public or in private whenever the Linux community will be judged by our actions</em>. We expect it to be honored by everyone who represents the community officially or informally, claims affiliation, or participates directly. It applies to activities online or offline.</p>

<p>We invite anybody to participate. Our community is open.</p>

<p>We encourage you <a href="/about/code-of-conduct/" title="Code of Conduct">to read the complete Code of Conduct</a> before attending the meeting.</p>