<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="GTALUG - Greater Toronto Area Linux User Group">
		
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
		
		<title>{% block page_title %}GTALUG{% endblock page_title %}</title>
		
		{%- assets filters="less", output="css/packed.css",
			"less/style.less"
		%}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
		{%- endassets %}
		
		{% block extra_head %}{% endblock extra_head %}
	</head>
	<body id="www_gtalug_org">
		<div class="container">
			<div class="row">
				
				<aside>
					<a href="{{ url_for('index') }}" title="GTALUG - Greater Toronto Area Linux User Group" class="logo">
						<img src="/static/img/gtalug-logo-small.png" alt="GTALUG - Greater Toronto Area Linux User Group">
					</a>
					
					<h1>
						<acronym title="Greater Toronto Area Linux User Group">
							GTALUG
						</acronym>
					</h1>
					
					<!-- TODO Write something clever about the group here:
					<p class="lead"></p>
					-->
					
					<ul>
						<li><a href="https://www.facebook.com/gtalug">Facebook</a></li>
						<li><a href="https://plus.google.com/110858902106738937194" rel="publisher">Google+</a></li>
						<li><a href="https://twitter.com/gtalug">Twitter</a></li>
					</ul>
				</aside>
				
				<main>
					
					<nav>
						<ul>
							{% block nav_home %}<li><a href="{{ url_for('index') }}">Home</a></li>{% endblock %}
							{% block nav_meetings %}<li><a href="{{ url_for('meeting_list') }}">Meetings</a></li>{% endblock %}
							{% block nav_about %}<li><a href="{{ url_for('page', path='about') }}">About</a></li>{% endblock %}
							{% block nav_mailing_list %}<li><a href="{{ url_for('page', path='mailing-list') }}">Mailing List</a></li>{% endblock %}
							{% block nav_wiki %}<li><a href="http://gtalug.org/wiki/Main_Page"><span class="glyphicon glyphicon-new-window"></span> Wiki</a></li>{% endblock %}
						</ul>
					</nav>
					
					<div class="page">
						{% block page_body %}{% endblock page_body %}
					</div>
					
					<footer>
						{% block footer %}{% endblock %}
					</footer>
				</main>
			</div>
		</div>
	</body>
</html>
