{% extends "base.html" %}

{% block page_title %}GTALUG - Greater Toronto Area Linux User Group{% endblock page_title %}

{% block nav_home %}<li class="active"><a href="{{ url_for('index') }}">Home</a></li>{% endblock %}

{% block page_body %}
<div class="alert alert-info" role="alert">
    <a href="/picnics/2016/"><strong>Linux in the Park 2016</strong></a> our annual BBQ in Dufferin Grove Park is happening on 23rd July 2016 at 2pm.
</div>
<article itemscope itemtype="http://schema.org/Event">
	<header class="page-header">
		<h2>
			<span itemprop="name">
				<a href="{{ url_for('meeting_detail', slug=meeting.path) }}" itemprop="url">{{ meeting.meeting_title | typogrify | safe }}</a>
			</span>
			{% if meeting.meeting_speaker %}
			<span itemprop="performer" itemscope itemtype="http://schema.org/Person">
				with&nbsp;<a href="{{ meeting.meeting_speaker_link }}" itemprop="name">{{ meeting.meeting_speaker | typogrify | safe }}</a>
			</span>
			{% endif %}
		</h2>
		<p class="lead" itemprop="startDate" content="{{ meeting.meeting_datetime }}">
			{{ meeting.meeting_datetime.strftime("%d %B, %Y at %I:%M %p") }}
		</p>
	</header>
	
	<section itemprop="description">
		{{ meeting.html|safe }}
	</section>
	
	<footer>
		{% if meeting.meeting_location_template or meeting.meeting_location %}
		<div class="location">
			<h3>Location</h3>
			{% if meeting.meeting_location_template %}
			{% include meeting.meeting_location_template %}
			{% else %}
			{{ meeting.meeting_location }}
			{% endif %}
		</div>
		{% endif %}
		
		{% if meeting.meeting_schedule_template %}
		<div class="schedule">
			<h3>Schedule</h3>
			{% include meeting.meeting_schedule_template %}
		</div>
		{% endif %}
	</footer>
</article>
{% endblock %}