{% extends "base.html" %}

{% block page_title %}{{ meeting.meeting_title }} {% if meeting.meeting_speaker %}with {{ meeting.meeting_speaker }}{% endif %}{% endblock page_title %}

{% block nav_meetings %}<li class="active"><a href="{{ url_for('meeting_list') }}">Meetings</a></li>{% endblock %}

{% block page_body %}

<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="../">Meetings</a></li>
	<li class="active">{{ meeting.meeting_title | typogrify | safe }}</li>
</ol>

<article itemscope itemtype="http://schema.org/Event">
	<header class="page-header">
		<h2>
			<span itemprop="name">
				<a href="{{ url_for('meeting_detail', slug=meeting.path) }}" itemprop="url">{{ meeting.meeting_title | typogrify | safe }}</a>
			</span>
			{% if meeting.meeting_speaker %}
			<span itemprop="performer" itemscope itemtype="http://schema.org/Person">
				with&nbsp;<a href="{{ meeting.meeting_speaker_link }}" itemprop="name">{{ meeting.meeting_speaker | typogrify | safe }}</a>
			</span>
			{% elif meeting.meeting_speakers %}
			with
			{% for speaker in meeting.meeting_speakers %}
			{{ speaker | typogrify | safe }}{% if not loop.last and not loop.length == 2 %}, {% endif %}
			{% if loop.revindex == 2 %} and {% endif %}
			{% endfor %}
			{% endif %}
		</h2>
		
		<p class="lead" itemprop="startDate" contnet="{{ meeting.meeting_datetime }}">
			{{ meeting.meeting_datetime.strftime("%d %B, %Y at %I:%M %p") }}
		</p>
	</header>
	
	<section itemprop="description">
		{{ meeting.html|safe }}
	</section>
	
	<footer>
		{% if meeting.meeting_location_template or meeting.meeting_location %}
		<div class="location">
			<h3>Location</h3>
			{% if meeting.meeting_location_template %}
			{% include meeting.meeting_location_template %}
			{% else %}
			{{ meeting.meeting_location }}
			{% endif %}
		</div>
		{% endif %}
		
		{% if meeting.meeting_schedule_template %}
		<div class="schedule">
			<h3>Schedule</h3>
			{% include meeting.meeting_schedule_template %}
		</div>
		{% endif %}
		
		<div class="code-of-conduct">
			<h3>Code of Conduct</h3>
			<p>We want a productive happy community that can welcome new ideas, improve every process every year, and foster collaboration between individuals with differing needs, interests and skills.</p>
			<p>We gain strength from diversity, and actively seek participation from those who enhance it. This code of conduct exists to ensure that diverse groups collaborate to mutual advantage and enjoyment. We will challenge prejudice that could jeopardize the participation of any person in the community.
			<p>The Code of Conduct governs <em>how we behave in public or in private whenever the Linux community will be judged by our actions</em>. We expect it to be honored by everyone who represents the community officially or informally, claims affiliation, or participates directly. It applies to activities online or offline.</p>
			<p>We invite anybody to participate. Our community is open.</p>
			<p>We encourage you <a href="/about/code-of-conduct/" title="Code of Conduct">to read the complete Code of Conduct</a> before attending the meeting.</p>
		</div>
	</footer>
</article>
{% endblock %}