{% extends "base.html" %}

{% block page_title %}{{ meeting.meeting_title }} {% if meeting.meeting_speaker %}with {{ meeting.meeting_speaker }}{% endif %}{% endblock page_title %}

{% block nav_meetings %}<li class="active"><a href="{{ url_for('meeting_list') }}">Meetings</a></li>{% endblock %}

{% block page_body %}

<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="../">Meetings</a></li>
	<li class="active">{{ meeting.meeting_title }}</li>
</ol>

<article itemscope itemtype="http://schema.org/Event">
	<header class="page-header">
		<h2>
			<span itemprop="name">
				<a href="{{ url_for('meeting_detail', slug=meeting.path) }}" itemprop="url">{{ meeting.meeting_title }}</a>
			</span>
			{% if meeting.meeting_speaker %}
			<span itemprop="performer" itemscope itemtype="http://schema.org/Person">
				with&nbsp;<a href="{{ meeting.meeting_speaker_link }}" itemprop="name">{{ meeting.meeting_speaker }}</a>
			</span>
			{% elif meeting.meeting_speakers %}
			with
			{% for speaker in meeting.meeting_speakers %}
			{{ speaker }}{% if not loop.last and not loop.length == 2 %}, {% endif %}
			{% if loop.revindex == 2 %} and {% endif %}
			{% endfor %}
			{% endif %}
		</h2>
		
		<p class="lead" itemprop="startDate" contnet="2013-12-10T19:30">
			{{ meeting.meeting_datetime.strftime("%d %B, %Y at %I:%M %p") }}
		</p>
	</header>
	
	<section itemprop="description">
		{{ meeting.html|safe }}
	</section>
	
	<footer>
		{% if meeting.meeting_location_template or meeting.meeting_location %}
		<div class="location">
			<h3>Location</h3>
			{% if meeting.meeting_location_template %}
			{% include meeting.meeting_location_template %}
			{% else %}
			{{ meeting.meeting_location }}
			{% endif %}
		</div>
		{% endif %}
		
		{% if meeting.meeting_schedule_template %}
		<div>
			<h3>Schedule</h3>
			{% include meeting.meeting_schedule_template %}
		</div>
		{% endif %}
	</footer>
</article>
{% endblock %}