{% extends "base.html" %}

{% block page_title %}{{ page.title }}{% endblock page_title %}

{% block page_body %}
	{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">{{ page.title }}</li>
	</ol>
	{% endblock %}
	
	<article>
		{% block article_header %}
		<header class="page-header">
			<h1>{{ page.title }}</h1>
		</header>
		{% endblock %}
		
		{% block article_section %}
		<section>
			{{ page.html|safe }}
		</section>
		{% endblock %}
	</article>
{% endblock %}